.date-container {
    width: 50px;
    height: 50px;
}

.block {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: red;
    width: 50px;
    height: auto;
}

.empty {
    background-color: #BDD7ED;
    padding-top: 10px;
}

.calendar {
    width: 370px;
    height: auto;
}

.hovered {
    background-color: #ec8b5e;
}

.today {
    border: 3px solid red;
}